icecream
psutil
click 
requests
matplotlib
tqdm 
pyspng 
ninja 
imageio-ffmpeg
scipy
termcolor
colorama
cvbase
opencv-python
etaprogress
scikit-learn
pandas
tensorboard
pydrive2
pandas
easydict
kornia
albumentations
imgaug
ipykernel